html { overflow: hidden; }
body { font-family: 'Raleway', sans-serif; line-height: .8; font-size: 45px; }

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
    background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
    z-index: 0;
    opacity: 1;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.big { text-transform:uppercase; }
.bold { font-weight:bold; }
.margin { margin-bottom:0.2em; }
.half { width:50%; margin:0 auto; display:block; }
.col-2 { width:50%; float:left; }

.title { font-size:100px; text-transform:uppercase; font-weight:bold; margin-bottom:0.2em; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

img { width:100%; }
.img-wrap { margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link { text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    transition: opacity 1s;
    width: 1000px;
    text-align: center;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    padding: 20px;
    box-sizing: border-box;
}

.past { opacity: 0.05; }
.future { opacity: 0;  }

div pre.prettyprint { text-align:left; font-size:24px; line-height:1.5em; padding:0.5em; }

.screen { width:1000px; }

#title1 { font-size:70px; font-weight:bold; }
#title2 { font-size:60px; }
#title3 { font-size:60px; }
    #title3 .correct { position:relative; display:inline-block; }
    #title3 .correct::before {
        content: "flush";
        display: block;
        position: absolute;
        top: -100%;
        right: 0;
        opacity: 0;
        transition: all 600ms linear 1s;
    }
    #title3 .correct::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-15deg);
        width: 100%;
        height: 10px;
        background: black;
        opacity: 0;
        transition: all 600ms linear 1s;
    }
    #title3 .redact {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 400px;
        background: black;
        color: white;
        font-size: 50px;
        padding: 12px;
        opacity: 0;
        transition: all 600ms linear 1s;
    }

.takashi {
    position: relative;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 300px;
    height: 300px;
    background-image: url('./images/takashi.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-bottom: 50px;
}

#title1.past,
#title2.past,
#title3.past { opacity:0.6; }

#title3.past .correct span { opacity:0.6 }
#title3.past .correct::before,
#title3.past .correct::after { opacity:1; }
#title3.past .redact { opacity:1; }

#twothousandfive {}
    #twothousandfive .title { height:0; transform:translate3d(0, 0, 0) scale(3); transition:all 600ms ease-in 3s; }
    #twothousandfive h3 { opacity:0; transition:all 600ms ease-in 3.3s; }
    #twothousandfive ul { opacity:0; width:50%; text-align:left; line-height:1em; margin:0 auto; transition:all 600ms ease-in 3.3s; }

    #twothousandfive.present .title { opacity:0; transform:translate3d(0, -100px, 0) scale(3); }
    #twothousandfive.present h3 { opacity:1; }
    #twothousandfive.present ul { opacity:1; }

#spaghetti {
    height: 600px;
    background-image: url('./images/spaghetti.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
    #spaghetti pre {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 75%;
        background-color:rgba(255, 255, 255, 0.9);
        margin:0 auto;
    }

#libs {}
    #libs ul { width:50%; text-align:left; line-height:1em; margin:0 auto; }

#resig,
#resig2,
#hewitt,
#irish {
    position: relative;
    height: 600px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
    #resig h3,
    #resig2 h3,
    #hewitt h3,
    #irish h3 {
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        text-align: center;
        background: rgba(255,255,255,0.8);
        padding: 10px;
    }
    #resig,
    #resig2 { background-image: url('./images/john-resig.jpeg'); }
    #hewitt { background-image: url('./images/joe-hewitt.jpg'); }
    #irish { background-image: url('./images/paul-irish.jpeg'); }

#twothousandthirteen {}
    #twothousandthirteen .title { height:0; transform:translate3d(0, 0, 0) scale(3); transition:all 600ms ease-in 3s; }
    #twothousandthirteen h3 { opacity:0; transition:all 600ms ease-in 3.3s; }
    #twothousandthirteen p { opacity:0; transition:all 600ms ease-in 3.3s; }

    #twothousandthirteen.present .title { opacity:0; transform:translate3d(0, -100px, 0) scale(3); }
    #twothousandthirteen.present h3 { opacity:1; }
    #twothousandthirteen.present p { opacity:1; }

#flux {
    position: relative;
    height: 600px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url('./images/hudsucker.jpg');
}
    #flux h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;
        font-size: 340px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
    }

#fin {  }

/*#fin div { -webkit-transform: translate(-50%, -50%) translate3d(840px, 345px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); }*/

.impress-on-fin .step { opacity:1; }
/*.impress-on-fin #title { opacity:0.5; }*/
/*.impress-on-fin #fin { opacity:1; }*/
